.checkBtn {
    @include flex(column nowrap, center, center, center, center, 0);
    background-color: $light-grey;
    min-width: 48%;
    height: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    font-weight: 600;
    margin: 0 0 1rem 0;
    &:focus,
    &:hover {
        background-color: $yellow;
        box-shadow: 2px 4px 4px hsl(0deg 0% 0% / 0.38);
    }
    &:active {
        transform: scale(1.03);
    }
}
[dark] .checkBtn {
    box-shadow: -8px -8px 18px 0 rgba(0, 0, 0, 0.55), inset 3px 3px 7px rgba(0, 0, 0, 0.15),
        inset -3px -3px 7px hsla(0, 0%, 100%, 0.09);
    background-color: #2e343b;
}
