.mode-wrapper {
    @include flex(row nowrap, center, center, center, center, 0);
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    .dark,
    .light {
        padding: 0.25em 2em;
        border: solid 2px $yellow;
        font-size: 0.6em;
        text-transform: uppercase;
    }
}
[dark] .mode-wrapper .dark {
    background-color: $yellow;
}
[light] .mode-wrapper .light {
    background-color: $yellow;
}
