.mode-wrapper {
    position: absolute;
    right: 6rem;
    border: solid 2px $yellow;
    background-color: $white;
    @include flex(row nowrap, center, center, center, center, 0);
    cursor: pointer;
    .dark,
    .light {
        padding: 0.25em 2em;
        font-size: 0.7em;
        letter-spacing: 0.1em;
        font-weight: 600;
        text-transform: uppercase;
    }
}
[dark] {
    .mode-wrapper {
        background-color: $black;
    }
    .mode-wrapper .dark {
        background-color: $yellow;
        color: $black;
        transition: 0.3s;
    }
}
[light] {
    .mode-wrapper {
        background-color: $white;
    }
    .mode-wrapper .light {
        background-color: $yellow;
        transition: 0.3s;
    }
}
