.payment img {
    height: 2rem;
    width: auto;
}

.vipps-approve {
    background-color: $vipps;
    color: $white;
    font-size: 1.1em;
    font-weight: 600;
    padding: 0.8rem;
    margin: 1rem 0 0 34%;
    border-radius: 50px;
    border: solid 3px $vipps;
    float: center;
    width: 30%;
    text-transform: uppercase;
    &:focus, &:hover {
        background-color: $white;
        color: $vipps;
    }
}