.payment {
    @include flex(row nowrap, space-between, stretch, auto, flex-start, 1rem);
    img {
        height: 2rem;
        width: auto;
    }
    label {
        height: 3rem;
    }
    input {
        &:checked ~ label,
        &:focus ~ label,
        &:focus + label {
            background-color: transparent !important;
            box-shadow: none !important;
        }
    }
}
.vipps-approve {
    background-color: $vipps;
    color: $white;
    font-size: 1.1em;
    font-weight: 600;
    padding: 0.8rem;
    margin: 1rem 0 0 34%;
    border-radius: 50px;
    border: solid 3px $vipps;
    float: center;
    width: 30%;
    text-transform: uppercase;
    letter-spacing: 0.175em;
    &:focus,
    &:hover {
        background-color: transparent;
        color: $vipps;
        font-weight: 900;
        letter-spacing: 0.125em;
    }
}
[light] .avtale-giro img {
    filter: invert(100%);
}
