.particle-container {
	position: absolute;
	left: 0;
	top: 3.5rem;
	width: 100vw;
	z-index: -9999;
}
.particle {
	position: absolute;
	z-index: -9999;
}
@for $i from 1 through 30 {
	@keyframes particle-animation-#{$i} {
		100% {
			transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
		}
	}
	.particle:nth-child(#{$i}) {
		animation: particle-animation-#{$i} 60s infinite;
		$size: random(30) + 5 + px;
		height: $size;
		width: $size;
		animation-delay: -$i * 0.2s;
		transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
	}
	.particle:nth-child(1n),
	.particle:nth-child(4n) {
		background: lighten($yellow, 30%);
		border-radius: 50%;
	}
	.particle:nth-child(2n),
	.particle:nth-child(5n) {
		background: $light-grey;
		border-radius: 0%;
	}
	.particle:nth-child(3n) {
		display: flex;
		flex-flow: row;
		border-radius: 0;
		background-color: transparent;
		font-size: 1em;
		&::before {
			content: "|";
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			transform: rotate(-45deg);
			position: relative;
			left: 0.4rem;
		}
		&::after {
			content: "|";
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			position: relative;
			transform: rotate(45deg);
		}
	}
}
[dark] {
	.particle:nth-child(2n),
	.particle:nth-child(5n) {
		background-color: #34404d
	}
	.particle:nth-child(1n),
	.particle:nth-child(4n) {
		background: darken($yellow, 30%);
		border-radius: 50%;
	}
}