@import url("https://use.typekit.net/xzn5byu.css");
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");
//font-family: open-sans, sans-serif;
//font-family: 'Atkinson Hyperlegible', sans-serif;

body,
html {
    scroll-behavior: smooth;
    scrollbar-color: #a3a3a3 $white;
    scrollbar-width: thin;
}
body {
    font-family: open-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: $black;
    font-size: 1em;
    ::selection {
        background: lighten($yellow, 30%);
    }
}
a {
    text-decoration: none;
    font-weight: 400;
    font-size: 1em;
}
a:focus,
a:active {
    outline: none;
}
button,
a {
    font-family: open-sans, sans-serif;
    color: $black;
}
h1,
h2 {
    font-weight: 500;
    font-size: clamp(1.5em, 3vw, 3rem);
    line-height: 1em;
    text-align: left;
    font-family: "Atkinson Hyperlegible", sans-serif;
}
p {
    font-size: 0.95em;
    font-weight: 400;
}
label,
fieldset,
h5,
li {
    text-transform: capitalize;
}
[dark]  {
    body, a, i {
        color: $white;
    }
}
[light] {
    body, a, i {
        color: $black;
    }
}
