$yellow: #ffd500;
$white: #ffffff;
$light-grey: #ebebeb;
$medium-grey: #383838;
$black: #22272e;

$youtube: #e60019;
$facebook: #2269b2;
$twitter: #009bdb;
$vipps: #ff5b24;
$intagram: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
$linkedin: #0072b1;
$github: #24292e;
$codepen: #1e1f26;

$speed: cubic-bezier(0.694, 0.048, 0.335, 1);

//dark-mode colors
