.not-found {
    @include flex(row nowrap, center, center, center, center, 10vw);
    max-width: 1280px;
    height: calc(100vh - 3.5rem);
    img {
        max-height: 70vh;
        width: auto;
    }
    div {
        @include flex(column nowrap, flex-start, flex-start, center, flex-start, 2em);
        flex: 1;
        h1 {
            font-size: 8em;
            font-weight: 600;
        }
    }
    .btn { 
        @include flex(column nowrap, flex-start, flex-start, flex-start, flex-start, 0);
        @include BTN($yellow, 13rem, 2.4rem, 0.8em); 
    }
}