.content-index {
    @include flex(column nowrap, center, stretch, auto, flex-start, 5rem);
    width: 100%;
    max-width: 1280px;
    @media only screen and (max-width: 1200px) {
        @include flex(column nowrap, center, stretch, auto, flex-start, 2rem);
    }
    .card-container {
        @include flex(row nowrap, center, stretch, auto, center, 4rem);
        background-color: #f4f4f4;
        padding: 5rem 0;
        width: calc(100% + 15rem);
        margin: 0 0 10rem -7.5rem;
        @media only screen and (max-width: 1200px) {
            @include flex(column wrap, center, stretch, auto, center, 4rem);
            margin: 0;
            width: 100%;
        }
    }
    .tile-container {
        @include flex(column nowrap, space-between, flex-start, auto, center, 2rem);
        @media only screen and (max-width: 1000px) {
            @include flex(column nowrap, space-between, flex-start, auto, center, 0);
        }
        .sub {
            @include flex(row nowrap, space-between, flex-start, auto, center, 3rem);
            @media only screen and (max-width: 1000px) {
                @include flex(column nowrap, space-between, flex-start, auto, center, 0);
            }
        }
    }
}
.hero-index {
    @include flex(row wrap, space-around, center, center, center, 2.5rem);
    height: calc(100vh - 3.5rem);
    max-width: 1280px;
    margin-bottom: 20vh;
    .txt {
        @include flex(column nowrap, flex-start, flex-start, auto, center, 2em);
        flex: 1;
        h1 {
            font-size: 2.9em;
            line-height: 1.2em;
        }
        p {
            max-width: 340px;
        }
        .small {
            margin-top: -1rem;
            font-size: 0.7em;
            color: #666667;
        }
    }
    .positive {
        @include BTN($yellow, 10rem, 2.4rem, 0.8em);
    }
    .negative {
        @include BTN(#e3e3e3, 10rem, 2.4rem, 0.8em, #f5f5f5);
    }
    .btn-group {
        @include flex(row nowrap, flex-start, flex-start, auto, center, 1rem);
    }
    img {
        flex: 1;
        width: auto;
        height: 70%;
        //z-index: -99999;
    }
}
//temporary
.images {
    @include flex(row wrap, space-between, flex-start, auto, center, 5rem);
    max-width: 1280px;
    img {
        width: 20rem;
        height: auto;
    }
}
