.logo {
    height: 30px;
    margin: 1rem 1.5rem;
}
[dark] .logo.light {
    display: none;
}
[light] .logo.dark {
    display: none;
}
.--hide {
    //hide navbar on scroll
    top: -3.5rem;
    //box-shadow: 3px 3px 7px rgba(136, 165, 191, 0.301);
}
nav {
    .btn {
        @include BTN($yellow, 6.8rem, 2.2rem, 0.9em);
        @media only screen and (max-width: 1200px) {
            display: none;
        }
    }
    @include flex(row nowrap, space-between, center, auto, flex-start, 0);
    position: fixed;
    left: 0;
    top: 0;
    height: 3.5rem;
    width: 100vw;
    z-index: 999;
    font-weight: 500;
    transition: top 1s;
    .--open {
        @include flex(row wrap, center, center, auto, center, 0.8em 5rem);
        position: fixed;
        top: 0;
        right: 15%;
        height: 100vh;
        width: 70%;
        z-index: 999;
        transition: 0.5s;
        animation: navContentOpen 2s 1;
    }
}
.is-menu-open {
    position: relative;
    z-index: 9999;
}
.nav--overlay {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    animation: navOverlayOpen 2s 1;
    background-color: $yellow;
}
.menuitem {
    width: 400px;
    a {
        @include flex(row nowrap, space-between, center, auto, center, 0);
        font-size: clamp(1em, 2vw, 1.5rem);
        color: $black;
        span {
            border-bottom: 4px dotted $yellow;
            padding-bottom: 0.25em;
        }
        &:hover,
        &:focus {
            span {
                border-bottom: 4px dotted $black;
            }
            i {
                animation: bounce 1s 2 forwards ease-in-out;
            }
        }
    }
    i {
        -webkit-text-stroke: 1px $yellow;
        margin-right: 1rem;
        color: $black;
    }
}
ol {
    list-style: none;
}
.search {
    font-size: 1em;
    transform: scale(0.9);
    cursor: not-allowed;
    &::before {
        //circle
        content: "";
        display: block;
        width: 0.8em;
        height: 0.8em;
        border-radius: 50%;
        border: 0.15em solid $medium-grey;
        margin-left: -1em;
    }
    &::after {
        //line
        content: "";
        display: block;
        width: 0.15em;
        height: 0.6em;
        background-color: $medium-grey;
        transform: rotate(-45deg);
        margin-top: -0.32em;
    }
}
.nav-btn-wrapper {
    @include flex(row nowrap, flex-start, center, auto, flex-start, 0);
}
